* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

body {
    font-family: 'Inclusive Sans', sans-serif;
    margin-top: 1rem;
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    gap: 20px;
}

.primary-button {
    background-color: grey;
}